@page 

@using Microsoft.AspNetCore.Identity
@using PHOTOGRAM.DataAccess.Identity
@using PHOTOGRAM.DataAccess.Data


<div class="column-container">

    <h1>About Page</h1>

    <hr />
    <img src="~/Images/photo.jpg" />
    <h1>Medusa TN </h1>
    <h2>Boutheina ALOUADI </h2>


    <hr />

</div>

